.services-block{
    background-color: #1a2634;
}
.services-body h1{
    font-size: 2rem;
}
.services-body p{
    font-size: 0.9rem;
    width: 80%;
}
.service-icons-body{
    width: 95%;
}
@media screen and (max-width:480px){
    .service-icons-body{
        width: 100%;
    }
}