.block-block {
  background-color: #1a2634;
  height: 500px;
  position: relative;
}
.block-body {
  width: 95%;
  height: 100%;
}
.block-left {
  width: 45%;
}
.block-right {
  width: 55%;
}
.block-right h3 {
  font-size: 1.2rem;
  margin-top: -25px;
}
.block-right h1 {
  font-size: 1.8rem;
  text-align: center;
}
.block-right p {
  width: 90%;
  font-size: 1.1rem;
}
.block-left img {
  width: 100%;
  max-width: 400px;
  height: 80%;
  max-height: 400px;
}

@media screen and (max-width: 480px) {
  .block-block {
    height: 600px;
  }
  .block-body {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
  }
  .block-left {
    width: 95%;
    height: 350px;
  }
  .block-right {
    width: 95%;
    height: 60%;
  }
  .block-right h3 {
    font-size: 1rem;
    margin-top: 0px;
  }
  .block-right h1 {
    font-size: 1.5rem;
  }
  .block-right p {
    width: 100%;
    font-size: 0.9rem;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  .block-block {
    height: 650px;
  }
  .block-body {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .block-left {
    width: 95%;
    height: 350px;
  }
  .block-right {
    width: 95%;
    height: 60%;
  }

  .block-right h3 {
    font-size: 1rem;
    margin-top: 0px;
  }
  .block-right h1 {
    font-size: 1.7rem;
  }
  .block-right p {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .block-block {
    height: 500px;
  }
  .block-left {
    width: 55%;
  }
  .block-right {
    width: 45%;
  }
  .block-right h3 {
    font-size: 1.2rem;
  }
  .block-right h1 {
    font-size: 2rem;
  }
  .block-right p {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
  .block-left img {
    height: 300px;
    width: 95%;
    justify-self: start;
  }
}
