
.nav-bar{
    background-color: #000814;
    position: sticky;
    top: 0px;
}
.nav-1{
    height: inherit;
    align-items:center;
}
.logo-icon{
    align-items: center;
    background-image: url("./1-letter-s.png");
    background-size: cover;
    position: relative;
    animation: loading 0.8s 1;
}
.center-nav{
    max-width: 400px;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
.center-nav a{
    width: 80px;
    display: grid;
    place-content: center;
    align-items: center;
    font-size: 1.1rem;
}
.contact-icon{
    align-items: center;
    font-size: 1.2rem;
}

.nav-2{
    color: white;
    display:none;
    height: inherit;
    align-items:center;
}
.menu-icon{
   transition: 0.1s ease-in-out;
}
.rotate{
    transform: rotate(-90deg);
}

.nav2-items{
    display: none;
    color:white;
    background-color: #000814d2;
    place-items: center;
    z-index: 2;
    width: 60%;
    height: 90vh;
    position:absolute;
    top: 64px;
    right: 0px;
    animation: menuLoad 0.2s 1;
}
.nav2-inner{
    height: 50%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.nav2-inner:active  .nav2-items{
    display: none;
}
.nav2-inner a{
    width: 50%;
    font-size: 1.4rem;
    display: grid;
    place-items: center;
}
.nav-2-inner a:hover{
    background-color: aqua;
}

@keyframes loading{
    0%{
        top: -40px;
        opacity: 0%;
    }
    100%{
        top: 0px;
        transform: rotateY(360deg);
        opacity: 100%;
    }
}

@keyframes menuLoad {
    0%{
        opacity: 50%;
        right: -20px;
    }
    100%{
        right:0px;
        opacity: 100%;
    }
}


/* responsive -=======================*/
@media screen and (max-width:480px) {
    .nav-1{
        display: none;
    }
    .nav-2{
        display: flex;
    } 
}
@media screen and (max-width:760px){

    .center-nav{
        width: 55%;
    }
    .center-nav a{
        width: 60px;
        place-content: center;
        font-size: 0.9rem;
    }
}