
.footer-item{
    height: 30%;
    width: 80%;
    /* width: auto; */
}
.footer-item i{
    border-radius: 50%;
    animation-name: rotateX;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.footer-item p{
    width: 80%;
    font-size: 0.8rem;
    height: 90%;
}
@media screen and (min-width:800px){
    .footer-body{
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .footer-item{
        width: 25%;
        height: 40%;
    }
}

@keyframes rotateX{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
