
.footer-item{
    height: 30%;
    width: 80%;
}
.footer-item i{
    border-radius: 50%;
}
.footer-item p{
    width: 80%;
    font-size: 0.8rem;
    height: 90%;
    /* word-break:break-all; */
}
@media screen and (min-width:600px){
    .footer-body{
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .footer-item{
        width: 30%;
    }
}