.landing-block {
  background-color: #000814;
  height: 91vh;
  padding: 20px 30px 20px 30px;
  align-items: center;
}

.landing-left {
  justify-content: space-evenly;
  width: 55%;
  height: 80%;
  max-width: 600px;
  /* border: 1px solid white; */
}
.top-part {
  height: 25%;
}
.top-part h1 {
  font-size: 1.9rem;
}
.top-part h3 {
  font-size: 1.3rem;
}

.middle-part {
  height: 25%;
  justify-content: space-evenly;
}
.middle-part span {
  width: 200px;
  padding-bottom: 5px;
  margin-top: 10px;
  height: 50px;
  border-bottom: 2px solid yellow;
}
.social-links {
  margin-top: 20px;
  height: 34%;
  max-height: 40px;
  width: 50%;
  max-width: 250px;
  border-radius: 30px;
  padding: 0px 5px 0px 5px;
}
.social-links svg {
  font-size: 2.2rem;
  transition: 0.1s ease-out;
}
.social-links svg:hover {
  transform: scale(1.2);
}

.bottom-part {
  height: 10%;
  max-width: 300px;
}
.bottom-part a {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #0977c0;
  transition: 0.1s ease-out;
  font-size: 1.1rem;
}

.landing-right {
  width: 45%;
  max-width: 400px;
  /* border: 1px solid white; */
  height: 80%;
}
